@import url("https://fonts.bunny.net/css?family=anaheim:400");
@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #ededed;
  color-scheme: dark;
}

:root.light {
  --background: #e0e0e0;
  --foreground: #0f0f0f;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Anaheim", sans-serif;
  --font-mono: "Anaheim", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Anaheim", sans-serif;
}
